<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Techtrove">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TechTrove</title>

    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon_techtrove.png')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light d-flex w-100">
            <a class="td-none" href="/">
                <img src="{{url_for('static', filename='img/logo_techtrove.png')}}" class="logo-wrapper"
                    alt="TechTrove" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/category/1">Phones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/category/2">Laptops</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/category/3">PCs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/category/4">Audio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!" data-toggle="modal" data-target="#staticBackdrop">About</a>
                    </li>

                    <li class="ml-0 ml-lg-4 py-2 p-lg-2">
                        <a href="/order">
                            <button class="btn p-0 mr-3">
                                <span class="material-symbols-outlined btn-cart">shopping_cart</span>
                                <!-- <span class="badge badge-dark"> session['count_id'] - 1</span> -->
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% for message in messages %}
        <h4 class="alert-heading">{{ message }}</h4>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% endwith %}

    <!-- <div class="alert alert-success alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Thank you! Your Order has succesfully been submitted!</h4>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> -->

    <!-- main page content goes in container -->
    <div class="container-fluid p-0">
        <main>
            {% block head %}

            {% endblock %}
            {% block main %}

            {% endblock %}
        </main>
    </div>

    <!-- Footer -->
    <footer>
        <a class="td-none" href="/">
            <img class="logo-wrapper" src="{{url_for('static', filename='img/logo_techtrove.png')}}" alt="TechTrove">
        </a>
        <span>©TechTrove, 2023, IFN557, Queensland University of Technology</span>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="staticBackdropLabel">About Us</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Welcome! Techtrove is your ultimate destination for cutting-edge gadgets and gizmos.
                        With a passion for innovation and a commitment to quality,
                        We've curated a collection of the latest tech trends to enhance your digital lifestyle.
                        <br>
                        <b> Explore Techtrove and embrace the future today!</b>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>
</body>

</html>