{% extends 'base.html' %}
{% import "bootstrap4/form.html" as wtf %}

{% block main %}
    <section>
        <div class="px-4">
            <div class="container-xl my-5 card shadow really-rounded p-4">
                <div class="d-flex flex-column justify-items-center align-items-center">
                    <h1>Checkout</h1>
                    <p>Please fill in your details. </p>
                    <div class="w-100 mw-500px">
                        {{ wtf.render_form(form) }}
                    </div>
                </div>
            </div>
        </div>
        
    </section>
{% endblock %}
